SERVER_PORT=8080

POSTGRES_DB=tu_base_datos_desarrollo
POSTGRES_USER=tu_usuario_postgres
POSTGRES_PASSWORD=tu_contrasena_segura_local

DB_URL=jdbc:postgresql://localhost:5433/tu_base_datos_desarrollo
DB_USERNAME=tu_usuario_postgres
DB_PASSWORD=tu_contrasena_segura_local

FLYWAY_ENABLED=true
FLYWAY_BASELINE_ON_MIGRATE=false

JPA_DDL_AUTO=validate
JPA_SHOW_SQL=true

JWT_SECRET=reemplazar_con_un_secreto_largo_y_aleatorio_en_produccion
JWT_ISSUER=agro-erp-api
JWT_EXPIRATION_MINUTES=480

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173